doctype 5
html
  head
    title game
    link(rel='stylesheet', href='./stylesheets/style.css')
    script(type='text/javascript', src='./javascripts/jquery-1.9.1.min.js')
    script(type='text/javascript', src='./javascripts/ss2dLib.js')    
    //script(type='text/javascript', src='./javascripts/ss2dLibWGL.js')    
    script(type='text/javascript', src='./javascripts/game1.js')    

  body
    block content
