body {
    padding:50px;
    //padding-top:10px;
    
    //font-family: Arial, Helvetica, sans-serif;
    //font-size: 14px;
    //font-weight: bold;
    color:#cccccc;
    text-align:center;
    margin: 0 auto; 
    background-color:#efefef;
}

a:hover {
    text-decoration:underline;
}


canvas.game {
}


